<:-.if article.id != 1 -:>
<:-.set homearticle = homearticle or bse.articles.getByPkey(1) -:>
<:-.set crumbs = [ article.menu_ancestors ].expand -:>
<:-.if not(article.is_descendant_of(homearticle)) -:>
<:-% crumbs.push(homearticle) -:>
<:-.end if:>
<ul class="breadcrumb">
  <:-.for crumb in crumbs.reverse:>
  <li>
    <:-.set crumb_title = crumb.titleAlias or crumb.title:>
    <:-.if crumb.is_linked -:>
    <a href="<:= bse.url(crumb):>" title="<:= crumb.title:>"><:= crumb_title.replace(/(?:  (.*))/, ""):></a>
    <:-.else -:>
    <:= crumb_title.replace(/(?:  (.*))/, ""):>
    <:-.end if -:>
  </li>
  <:-.end for:>
  <li class="active">
    <:-.if params.title eq "FORMTITLE" -:>
    <:formcfg title:>
    <:-.elsif params.title -:>
    <:-.set params_title = params.titleAlias or params.title:>
    <:= params_title.replace(/(?:  (.*))/, ""):>
    <:-.else -:>
    <:-.set article_title = article.titleAlias or article.title:>
    <:= article_title.replace(/(?:  (.*))/, ""):>
    <:-.end if -:>
  </li>
</ul>
<:-.end if:>