<:-.wrap "shopbase.tmpl", "title":"Shop Checkout", "class":"shop-checkout-details" :>
<:-.set cart = request.cart :>
<:-.set items = cart.items :>
<:-.set user = request.siteuser :>
<:-.set session = request.session :>
<:-.set order_info = session.order_info :>
<table class="items">
  <caption>Order items</caption>
  <thead>
    <tr>
      <th class="item">Item</th>
      <:-.set cart_coupon_invalid = cart.coupon_valid and !cart.coupon_active :>
      <:-.if cart_coupon_invalid :>
      <th class="coupon">Coupon</th>
      <:-.end if :>
      <th class="quantity">Qty</th>
      <th class="price">Price</th>
      <th class="extended">Extended</th>
    </tr>
  </thead>
  <tbody>
	<:-.for item in items :>
	<:-.set options = item.option_list :>
	<:-.set item_coupon_invalid = cart_coupon_invalid and !item.coupon_applies :>
    <tr <:-= item_coupon_invalid ? ' class="warning"' : '' | raw -:> >
      <td class="item">
        <a href="<:= item.link :>" class="title"><:= item.title :></a>
        <:-.if options.size :>
        <span>(<:.for option in options :><:= loop.index ? ", " : "" :><:= option.desc :>: <:= option.display :><:.end for :>)</span>
        <:-.end if :>
        <:-.if item.description and cfg.entry("shop", "product_description", 1 ) :>
        <div class="description"><:= item.description :></div>
        <:-.end if :>
      </td>
      <:-.if cart_coupon_invalid :>
      <td class="coupon">
        <:-= item_coupon_invalid ? 'Invalid' : '' -:>
      </td>
      <:-.end if :>
      <td class="quantity">
        <:= item.units :> &times;
      </td>
      <td class="price">
        <:-.if item.price -:>
        <:= cfg.entry("shop", "currency", "$") :><:= bse.number("money", item.price ) :>
        <:-.end if -:>
      </td>
      <td class="extended"><:= cfg.entry("shop", "currency", "$") :><:= bse.number("money", item.extended("price") ):></td>
    </tr>
    <:-.end for :>
  </tbody>
</table>
<div class="totals">
  <:-.if cart.coupon_active :>
  <p class="discount"><span>(<:= cart.coupon_code :> / <:.if cart.coupon_code_discount_pc:><:= cart.coupon_code_discount_pc:>%<:.end if:> Coupon)</span> <label>Discount:</label> &minus;<:= cfg.entry("shop", "currency", "$") :><:= bse.number("money", cart.product_cost_discount ) :></p>
  <:-.end if :>
  <:-.if cart.shipping_cost:>
  <p class="freight"><span>(<:= cart.shipping_method:><:.if cart.delivery_in.defined:>, delivery in <:= cart.delivery_in:> days<:.end if:>)</span> <label>Freight:</label> <:= cfg.entry("shop", "currency", "$"):><:= bse.number("money", cart.shipping_cost ):></p>
  <:-.elsif cart.shipping_name eq "contact" :>
  <p class="freight"><span>(<:= cart.shipping_method:>)</span> <label>Freight:</label> TBA</p>
  <:-.end if:>
  <p class="total"><abbr><:= cfg.entry("shop", "currency_code", "AUD"):></abbr> <label>Total:</label> <:= cfg.entry("shop", "currency", "$") :><:= bse.number("money", cart.total):></p>
</div>
<form action="<:= cfg.user_url("shop"):>" method="post" name="checkoutnew">

<:-.set coupon_error = cart_coupon_invalid or cart_coupon_invalid :>
[:-.call "sfield", "name":"coupon", "description":cfg.entry("shop", "coupon_code", "Coupon Code"), "default":cart.coupon_code, "help":coupon_help, "errors": { "coupon":coupon_error } -:]
<:-.set coupon_help = cart.coupon_active ? 'Coupon is valid and active' : cart.coupon_valid ? cart.coupon_inactive_message : cart.coupon_code ne '' ? 'Unknown coupon code' : '':>

<:-.if !cfg.entry("site users", "nopassword"):>
<:-.if user:>
<p class="alert alert-info">
  This purchase will be added to your order history. You can track the status of your purchases and maintain your account details in your <a href="<:= cfg.user_url("user", "userpage"):>">account manager</a>.
</p>
<:-.else:>
<p class="alert alert-info">To track the status of your purchase you must <:.if cfg.entry("site users", "user_register"):>either <a href="<:= cfg.user_url("user", "show_register", "r", cfg.user_url("shop", "checkout", "need_delivery", need_delivery )):>">Signup</a> or <:.end if:><a href="<:= cfg.user_url("user", "show_logon", "r", cfg.user_url("shop", "checkout", "need_delivery", need_delivery )):>">Logon</a> before you continue with this purchase.
</p>
<:-.end if:>
<:-.end if:>
<div class="siteuser">
  <h2>Billing Details</h2>
  <fieldset class="name">
    <legend>Name</legend>
    [:-.call "cfield", "name":"billFirstName", "required":1 :]
    [:-.call "cfield", "name":"billLastName", "required":1 :]
  </fieldset>
  <fieldset class="company">
    <legend>Company</legend>
    [:-.call "cfield", "name":"billOrganization" :]
    [:-.call "cfield", "name":"purchase_order" :]
  </fieldset>
  <fieldset class="address">
    <legend>Address</legend>
    [:-.call "cfield", "name":"billStreet", "required":1 :]
    [:-.call "cfield", "name":"billStreet2" :]
    [:-.call "cfield", "name":"billSuburb", "required":1 :]
    [:-.call "cfield", "name":"billState" :]
    [:-.call "cfield", "name":"billPostCode", "required":1 :]
    [:-.call "cfield", "name":"billCountry", "required":1, "list":country_list, "htmltype":"select" :]
  </fieldset>
  <fieldset class="contact">
    <legend>Contact</legend>
    [:-.call "cfield", "name":"billTelephone", "required":1 :]
    [:-.call "cfield", "name":"billFacsimile" :]
    [:-.call "cfield", "name":"billMobile" :]
    [:-.call "cfield", "name":"billEmail", "required":1 :]
  </fieldset>
  <fieldset class="message">
    <legend>Message</legend>
    [:-.call "cfield", "name":"instructions", "htmltype":"textarea" :]
  </fieldset>
  <:- if And [ifShipping] [ifPhysical]:>
  <fieldset class="delivery">
    <legend>Delivery</legend>
    <div class="form-group shipping_name<:ifError_img shipping_name:> has-warning<:eif:>">
      <label for="shipping_name" class="control-label"><:= cfg.entry("site users", "display_shipping_name", "Shipping Method"):>: <span class="required">*</span></label>
      <div class="control-container">
        <:replace [shipping_select] "<select" "<select class=\"form-control\"":>
      </div>
    </div>
    [:-.call "cfield", "name":"need_delivery", "description":"Shipping details different to billing", "default":need_delivery, "htmltype":"checkbox", "options": { "onchange":"this.form.checkupdate.click()" }, "save_name":"none" :]
  </fieldset>
  <:- eif And:>
  <:-.if need_delivery:>
  <h2>Shipping Details</h2>
  <fieldset class="name">
    <legend>Name</legend>
    [:-.call "cfield", "name":"delivFirstName", "required":1 :]
    [:-.call "cfield", "name":"delivLastName", "required":1 :]
  </fieldset>
  <fieldset class="company">
    <legend>Company</legend>
    [:-.call "cfield", "name":"delivOrganization" :]
  </fieldset>
  <fieldset class="address">
    <legend>Address</legend>
    [:-.call "cfield", "name":"delivStreet", "required":1 :]
    [:-.call "cfield", "name":"delivStreet2" :]
    [:-.call "cfield", "name":"delivSuburb", "required":1 :]
    [:-.call "cfield", "name":"delivState" :]
    [:-.call "cfield", "name":"delivPostCode", "required":1 :]
    [:-.call "cfield", "name":"delivCountry", "required":1, "list":country_list, "htmltype":"select" :]
  </fieldset>
  <fieldset class="contact">
    <legend>Contact</legend>
    [:-.call "cfield", "name":"telephone" :]
    [:-.call "cfield", "name":"facsimile" :]
    [:-.call "cfield", "name":"delivMobile" :]
    [:-.call "cfield", "name":"emailAddress" :]
  </fieldset>
  <:-.end if:>
  <:-.if cfg.entry("affiliate", "enabled"):>
  <:-.set affiliate_code = order_info.defined ? order_info.affiliate_code : '' :>
  <h2>Affiliate Details</h2>
  <fieldset class="referrer">
    <legend>Referrer</legend>
    [:-.call "cfield", "name":"affiliate_code", "default":affiliate_code :]
    <:-.if affiliate_code:>
    <div class="form-group affiliate_code<:ifError_img affiliate_code:> error<:eif:>">
      <label for="affiliate_code" class="control-label"><:= cfg.entry("site users", "display_affiliate_profile", "Referrer Profile"):>:</label>
      <div class="control-container">
        <div class="form-control-static">
          <a href="<:= cfg.user_url("affiliate", "", "lo", affiliate_code ):>"><:= affiliate_code:></a>
          <input type="hidden" name="affiliate_code" value="<:= affiliate_code:>" />
        </div>
      </div>
    </div>
    <:-.end if:>
  </fieldset>
  <:-.end if:>
  <:- include include/custom/checkout_custom.tmpl optional:>
  <:- include include/checkout_custom.tmpl optional:>
  <p><span class="required">* Required.</span> <:= cfg.entry("site users", "required_text", "Please provide information for all marked fields."):></p>
  <p class="buttons">
    <input type="submit" value="Purchase now" name="a_order" accesskey="p" title="AccessKey = p" />
    <input type="submit" value="Update" name="checkupdate" accesskey="u" title="AccessKey = u" />
    <input type="submit" value="Go back" name="cart" accesskey="b" title="AccessKey = b" />
  </p>
  </div>
</form>