<a href="<:prefix:><:file:>.html#<:entry:>" onclick="var userhelp=window.open(this.href, 'userhelp', 'width=520,height=440,location=no,status=no,menubar=no,scrollbars=yes'); userhelp.focus(); return false;" title="Help on <:entry:>">
  <i class="fa fa-question-circle"></i><span class="sr-only">Help</span>
</a>