<:-.wrap "base.tmpl", "title": "Search", "_icon": "fa fa-search" :>
<article role="main">
  <:-include include/header.tmpl:>
  <form id="search_form" method="post" action="<:script:>">
    <:- if Admin_search:>
    <input type="hidden" name="admin" value="1" />
    <:- eif Admin_search:>
    <div class="form-group">
      <label for="search_q">Keywords:</label>
      <div class="input-group">
        <input type="text" id="search_q" name="q" size="40" value="<:terms:>" title="Enter your search terms" placeholder="Enter your search terms" required="required" class="form-control input-lg" />
        <span class="input-group-btn">
          <button type="submit" id="search_submit" name="submit" accesskey="s" title="AccessKey = s" class="btn btn-primary btn-lg">
            <i class="fa fa-search"></i>
            <span class="btn-text">Search</span>
          </button>
        </span>
      </div>
    </div>
  </form>
  <div id="search_results">
    <:- include include/search_results.tmpl:>
  </div>
</article>