<:-.wrap "user/pubbase.tmpl", "title": "Thank you for sharing", "nomessage": 1 :>
<p class="alert alert-success">An email has been sent to your friend with a link to <strong>“<:tarticle title:>”</strong>.</p>
<p class="buttons"><a href="<:tarticle link:>" class="btn btn-default col-xs-12 col-sm-3 col-md-2">Continue browsing</a></p>