<:-.set tarticle = bse.articles.getByPkey(cgi.param("page")):>
<:-.set user = request.siteuser :>
<:-.wrap "user/pubbase.tmpl", "title": "Tell a Friend" :>
<p class="lead">Share a link to “<:= tarticle.title:>” with…</p>
<form action="<:= cfg.user_url("tellafriend"):>" method="post" role="form" class="siteuser">
  <input type="hidden" name="page" value="<:= tarticle.id:>" />
  <input type="hidden" name="key" value="<:secret:>" />
  <input type="hidden" name="key2" value="" />
  <input type="hidden" name="r" value="<:= cgi.param("r"):>" />
  <fieldset class="share share-to">
    <legend>Your Friend</legend>
    [:-.call "ufield", "name":"to_name", "description":"name", "required":1 :]
    [:-.call "ufield", "name":"to_email", "description":"email", "required":1 :]
  </fieldset>
  <fieldset class="share share-from">
    <legend>From You</legend>
    [:-.call "ufield", "name":"from_name", "description":"name", "required":1 :]
    [:-.call "ufield", "name":"from_email", "description":"email", "required":1 :]
    [:-.call "ufield", "name":"note", "description":"Message" :]
  </fieldset>
  <p><span class="required">* Required.</span> <:= cfg.entry("site users", "required_text", "Please provide information for all marked fields."):></p>
  <p class="buttons">
    <input type="submit" name="a_send" value="Share now" accesskey="s" title="AccessKey = s" />
    <a href="<:= tarticle.link:>">Continue browsing</a>
  </p>
</form>