.input {
    &:extend(.form-group);

    &.error {
        &:extend(.has-error);
        
        input,
        select,
        textarea {
            &:extend(.has-error .form-control);
        }
        
        label {
            &:extend(.has-error .control-label);
        }
    }
    
    label {
        &:extend(.control-label);
    }
    
    input,
    select,
    textarea {
        &:extend(.form-control);
    }
    
    small {
        &:extend(.help-block);
    }
}

.buttons {
    &:extend(.form-group);

    input,
    button {
        //&:not([class*=btn]) {
            &:extend(.btn);
            &:extend(.btn-primary);
            
            //&:not([class*=col-]) {
                .make-xs-column(12);
                .make-sm-column(4);
                //.make-md-column(3);
            //}
        //}
    }
}

.siteuser {
    .make-row();
    
    fieldset {
        .make-sm-column(6);
        
        &.name {
            clear: left;
        }  
    }

    & > p {
        .make-xs-column(12);
    }

    .left {
        .pull-left();
    }
    
    .right {
        .pull-right();
    }
}

.tabs {
    &:extend(.nav);
    &:extend(.nav-tabs);

    li {
        &:extend(.nav > li);
        &:extend(.nav-tabs > li);

        a {
            &:extend(.nav > li > a);
            &:extend(.nav-tabs > li > a);
        }

        &.focus {
            a {
                &:extend(.nav-tabs > li.active > a);
            }
        }

        &.disabled {
            a {
                &:extend(.nav > li.disabled > a);
            }
        }
    }
}

.article-children,
.article-list,
.list {
    .list-unstyled();
    .list-borders(@padding: 12px);
    .with-margin();
    margin-top: 0;

    li,
    .list-item {
        display: block;

        a,
        .list-item-title {
            font-weight: 700;
        }
        
        div,
        .list-item-summary {
            .text-muted();
        }
    }
}

.meta {
    .list-unstyled();
    .list-inline();
    margin-bottom: (@line-height-computed * 2);

    li {
        .text-muted();

        span {
            font-weight: 400;
        }
    }
    
    &.files {
        li {
            margin: 0;
            padding: 0;
        }
    
        .list();
    }
}

.bse_image_inline {
    display: inline-block;
    &:extend(.img-responsive);    
}
