.btn-widget(
    @color: #fff;
    @background-color: rgba(0, 0, 0, 0.6);
    @width: 50px;
    @height: @width;
    @font-size: 28px;
    @line-height: @height;
    @font-weight: 500;
    @border-width: 0;
    @border-style: solid;
    @border-color: @color;
    @display: block;
    @position: absolute;
    ) {
    text-align: center;
    color: @color;
    background-color: @background-color;
    width: @width;
    height: @height;
    font-size: @font-size;
    line-height: @line-height - (@border-width * 2);
    font-weight: @font-weight;
    border-width: @border-width;
    border-style: @border-style;
    border-color: @border-color;
    display: @display;
    position: @position;
}

.buttons,
.with-btn,
.with-buttons {
    .clearfix();

    a {
        text-decoration: none !important;
    }
}

.btn {
    position: relative;
    .text-truncate();
        
    &-text-left {
        .text-left();
    }

    &-not-round {
        .border-radius(0 ~"!important");
    }
    
    &-text-truncate {
        .text-truncate();
    }
    
    &-text-wrap {
        white-space: normal;
    }
    
    a {
        color: inherit;
        text-decoration: none !important;
        
        &:after {
            content: "";
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
        }
    }
}

@padding-extra-large-vertical:     (@padding-base-vertical * 2);
@padding-extra-large-horizontal:   (@padding-base-horizontal * 2);
@line-height-extra-large:          1.25;
@font-size-extra-large:            ceil((@font-size-base * 1.75));
@btn-border-radius-extra-large:    (@btn-border-radius-base * 2);

.btn-xl {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-extra-large-vertical; @padding-extra-large-horizontal; @font-size-extra-large; @line-height-extra-large; @btn-border-radius-extra-large);
}