@fancybox-control-color: #fff;
@fancybox-control-bg: @brand-primary;
@fancybox-control-font-family: FontAwesome;
@fancybox-control-font-size: (@icon-font-size-base * 2);
@fancybox-control-size: round(@icon-font-size-base * 2.5);
@fancybox-control-offset: @fancybox-control-size;

@fancybox-close-color: @fancybox-control-color;
@fancybox-close-bg: @fancybox-control-bg;
@fancybox-close-font-family: @fancybox-control-font-family;
@fancybox-close-font-size: @fancybox-control-font-size;
@fancybox-close-symbol: "\2715"; // "\e601"; // vt-icon
@fancybox-close-size: @fancybox-control-size;
@fancybox-close-offset: @fancybox-control-offset;

@fancybox-nav-color: @fancybox-control-color;
@fancybox-nav-bg: @fancybox-control-bg;
@fancybox-nav-font-family: @fancybox-control-font-family;
@fancybox-nav-font-size: @fancybox-control-font-size;
@fancybox-nav-prev-symbol: "\f104"; // "\e602"; // vt-icon
@fancybox-nav-next-symbol: "\f105"; // "\e603"; // vt-icon
@fancybox-nav-size: @fancybox-control-size;
@fancybox-nav-offset: @fancybox-control-offset;

@fancybox-title-color: #333;
@fancybox-title-bg: #fff;
@fancybox-title-font-family: @font-family-sans-serif;
@fancybox-title-font-size: @font-size-base;
@fancybox-title-line-height: @line-height-base;

.fancybox-wrap {
    .fancybox-skin {
        .border-radius(0);
    }

    .fancybox-close {
        top: -@fancybox-close-offset;
        right: 0;
        background: @fancybox-close-bg;
        text-align: center;
        text-decoration: none;
        .square(@fancybox-close-size);
        
        &:before {
            color: @fancybox-close-color;
            font-size: @fancybox-close-font-size;
            line-height: @fancybox-close-size;
            min-width: 1em;
            content: @fancybox-close-symbol;
        }
    }

    .fancybox-nav {
        span {
            text-align: center;
        	margin-top: -ceil(@fancybox-nav-size / 2);
        	color: @fancybox-nav-color;
        	background: @fancybox-nav-bg;
        	.square(@fancybox-nav-size);
    
            &:before {
                font-family: @fancybox-nav-font-family;
                font-size: @fancybox-nav-font-size;
                line-height: @fancybox-nav-size;
            }
        }
    }

    .fancybox-prev {
        span {
            left: -@fancybox-nav-offset;
    
        	&:before {
        	    content: @fancybox-nav-prev-symbol;
        	}
        }
    }

    .fancybox-next {
        span {
            right: -@fancybox-nav-offset;
    
        	&:before {
        	    content: @fancybox-nav-next-symbol;
        	}
        }
    }

    .fancybox-title {
        font: @fancybox-title-font-size/@fancybox-title-line-height @fancybox-title-font-family;
    }

    .fancybox-title-float-wrap {
        position: relative;
        right: auto;
	    margin-bottom: auto;
	    width: 100% !important; // ie 9
        
        .child {
            display: block;
            margin-right: auto;
            padding: 12px 20px;
            background: @fancybox-title-bg;
            text-shadow: none;
            color: @fancybox-title-color;
            font-weight: normal;
	        line-height: 24px;
	        white-space: normal;
            .border-radius(0);
        }
    }
}