@text-indent: @grid-gutter-width;

.text-larger {
    font-size: @font-size-large;
}

.text-smaller {
    font-size: @font-size-small;
}

.text-hidden {
    text-indent: -9999em;
    overflow: hidden;    
}

.text-indent(@text-indent) {
    text-indent: @text-indent;
}

.text-bold {
    font-weight: bold;
}

.text-normal {
    font-weight: normal;
}

.text-italic {
    font-style: italic;
}

.text-truncate {
   .text-overflow();
}

.text-nowrap {
    white-space: nowrap;
}

.text-indent {
    .text-indent(@text-indent);
}

.text-block {
    display: block;
}

.text-inline-block {
    display: inline-block;
}

.text-strike {
    text-decoration: line-through;
}

.text-white {
    color: white;    
}

.text-dark,
.text-gray-dark {
    color: @gray-dark;
}

.text-darker,
.text-gray-darker {
    color: @gray-darker;
}

.text-mid,
.text-gray {
    color: @gray;
}

.text-light,
.text-gray-light {
    color: @gray-light;
}

.text-lighter,
.text-gray-lighter {
    color: @gray-lighter;
}

@media (min-width: @screen-sm-min) {

    [class*="text-columns"] {
        p {
            widows: 3;
            orphans: 3;
        }

        &.with-no-break {
            & > * {
                .avoid-break();
            }
        }

        &.with-no-p-break {
            p {
                .avoid-break();
            }
        }
    }

    .text-columns-2 {
        .content-columns(2);
    }
    
    .text-columns-3 {
        .content-columns(3);
    }
    
    .text-columns-4 {
        .content-columns(4);
    }
}

@align-sizes: xs, sm, md, lg;
@align-types: left, right, center;
@align-ranges: max, min;

// define variable name
.define-screen-size(@size, @range) {
    @screen-size: ~'screen-@{size}-@{range}';
}

// define class names
.define-class(@align, @range, @size) when (@range = max) {
    @class-name: ~'.text-@{align}-@{range}-@{size}';
}

.define-class(@align, @range, @size) when (@range = min) {
    @class-name: ~'.text-@{align}-@{size}, .text-@{align}-@{range}-@{size}';
}

.define-media-query(@range) {
	@media-query: ~'@{range}-width:' @@screen-size; 
}

.make-ranges(length(@align-ranges));

.make-ranges(@nR, @iR: 1) when (@iR =< @nR) {
    @range: extract(@align-ranges, @iR);

    // start size iteration mixin
    .make-sizes(length(@align-sizes));

    .make-sizes(@nS, @iS: 1) when (@iS =< @nS) {
        @size: extract(@align-sizes, @iS);

        .define-screen-size(@size, @range);
        .define-media-query(@range);

        @media (@media-query) {

            // then iterate types
            .make-types(length(@align-types));

            .make-types(@nT, @iT: 1) when (@iT =< @nT) {
                @type: extract(@align-types, @iT);

                .define-class(@type, @range, @size);

                @{class-name} {
                    text-align: @type;
                }

                .make-types(@nT, (@iT + 1));
            }
        }

        .make-sizes(@nS, (@iS + 1));
    }

    .make-ranges(@nR, (@iR + 1));
}