.row {
    display: block;
}

.round {
    .border-radius(50%);
}

.group {
    position: relative;
}

.hidden {
    .text-hidden();
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.absolute-center {
    position: absolute;
    top: 50%; left: 50%;
    .translate(-50%; -50%);
}

.make-vertically-center {
    display: flex;
    align-items: center;
    //justify-content: center;
}

.vertically-center {
    .make-vertically-center();

    &-sm {
         @media (min-width: @screen-sm-min) {
             .make-vertically-center();
         }
    }
    
    &-md {
         @media (min-width: @screen-md-min) {
             .make-vertically-center();
         }
    }
    
    &-lg {
         @media (min-width: @screen-lg-min) {
             .make-vertically-center();
         }
    }

    &-xl {
         @media (min-width: @screen-xl-min) {
             .make-vertically-center();
         }
    }
}

.img-responsive {
    width: inherit\9; /* IE8 messes up img height: auto; without this */
}

.img-center {
    .center();
}

.text-center .img-responsive,
.text-center > .img-responsive,
.text-left .img-responsive,
.text-right .img-responsive {
    display: inline-block;
}

.sticky {
    .clearfix();
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

// for use on the row element
.no-gutters {
    margin-left: 0;
    margin-right: 0;
    
    & > [class*="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}

.no-spacing {
   .no-margin();
    
    & > [class*="col-"] {
        .no-padding();
    }
}

.edge-to-edge,
.override-gutters {
    margin-left: -(@grid-gutter-width / 2) !important;
    margin-right: -(@grid-gutter-width / 2) !important;
}

.with-gutter-left {
    margin-left: @grid-gutter-width;
}

.with-gutter-right {
    margin-left: @grid-gutter-width;
}

.clear,
.clear-both {
    clear: both;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.clear-none {
    clear: none !important;
}

.avoid-break {
    .break-inside();
}

/*
*:not(.row) > [class*="col-"] {
    padding: 0;
}
*/