<:-.wrap "user/pubbase.tmpl", "title":"Account Recovery", "userpage":"lostpassword", "usermessage":1 :>
<form action="<:= cfg.user_url("user"):>" method="post" class="siteuser">
  <fieldset class="logon">
    <legend>Account</legend>
    [:-.if cfg.entry("site users", "nopassword"):]
    [:-.set help = 'Please enter the ' _ cfg.entry("site users", "display_email", "email address").lower _ ' provided when your account was created. Access to your account will be sent to this address.' :]
    [:-.else :]
    [:-.set help = 'Please enter your account ' _ cfg.entry("site users", "display_userid", "username").lower _ '. A password reset link will be sent to the email address of this account.' :]
    [:-.end if :]
    [:-.call "ufield", "name":"userid", "help":help, "required":1 :]
  </fieldset>
  <p class="buttons">
    <input type="submit" name="lost_password" value="Recover now" accesskey="r" title="AccessKey = r" />
  </p>
</form>
<p class="group">
  <span class="left"><a href="<:= cfg.user_url("user", "show_logon"):>">Found your password?</a></span>
  <:-.if cfg.entry("site users", "user_register"):>
  <span class="right"><a href="<:= cfg.user_url("user", "show_register", "r", cgi.param("r")):>">Need an account?</a></span>
  <:-.end if:>
</p>