<:-.wrap "user/pubbase.tmpl", "title":"Sorry! You are not authenticated", "nomessage":1 :>
<:-.set nopassword = cfg.entry("site users", "nopassword"):>
<p class="alert alert-info">
  You must use the link included in your confirmation email to access your account details.
</p>
<p>
  <:-.if cfg.entry("site users", "user_register"):>If you haven’t yet created an account, you can <a href="<:= cfg.user_url("user", "show_register"):>">register now</a>, or if<:.else:>If<:.end if:> you’ve lost the email containing your options link, you can <a href="<:= cfg.user_url("user", "show_lost_password"):>">request it again</a>.
</p>
