<:-.wrap "base.tmpl", "title": params.title ? params.title : cfg.entry("user settings", "title", "Account Services"), "icon": params.icon ? params.icon : cfg.entry("user settings", "icon_class") :>
<article role="main">
<:-include include/header.tmpl:>
<:wrap here:>
</article>