<:-.wrap "user/userbase.tmpl", "subtext":"Subscriptions", "userpage":"subs" :>
<:-.set subscribed_services = [ user.subscribed_services ] :> 
<table class="items subscribed_services">
  <caption>Subscribed services</caption>
  <:-.if subscribed_services.size:>
  <thead>
    <tr>
      <th class="title">Title/Summary</th>
      <th class="date started">Started</th>
      <th class="date expires">Expires</th>
    </tr>
  </thead>
  <tbody>
  <:-.for subscription in subscribed_services :>
    <tr class="<:= bse.date("%Y%m%d", subscription.started_at ) > bse.now("%Y%m%d") ? 'warning' : bse.date("%Y%m%d", subscription.ends_at ) < bse.now("%Y%m%d") ? 'danger' : '' :>">
      <td class="title">
        <:= subscription.title:>
        <:-.if subscription.description:>
        <div class="description"><:= subscription.description:></div>
        <:-.end if:>
      </td>
      <td class="date started"><:= bse.date("%e-%b-%Y", subscription.started_at ):></td>
      <td class="date expires"><:= bse.date("%e-%b-%Y", subscription.ends_at ):></td>
    </tr>
    <:-.end for:>
  </tbody>
  <:-.else:>
  <tbody>
    <tr>
      <td class="warning">You haven’t subscribed to any services</td>
    </tr>
  </tbody>
  <:-.end if:>
</table>