<:-.wrap "base.tmpl", "title": params.title ? params.title : cfg.entry("user settings", "title", "Account Manager"), "icon": params.icon ? params.icon : cfg.entry("user settings", "icon_class"), "class": "userpage " _ params.userpage :>
<:-.set user = request.siteuser :>
<article id="<:= 'article_' _ article.id:>" role="main">
<:include include/usermessage.tmpl:>
<:include include/header.tmpl:>
<:include include/usernav.tmpl:>
<:wrap here:>
</article>